*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
#pt_header{
   
    position: sticky;
    top: 0;
    z-index: 9999;
    height: 66px;
    /* border: 2px solid red; */
    width: 100%;
    /* background-color: aqua; */

    
}
header{
    position: sticky;
    top: 0;
  

    /* position: absolute; */
    left: 200px;
    height: 66px;
    width: 1600px;
    /* border: 2px rgb(30, 8, 10) solid; */
    display: flex;
    margin: auto;
}

#section1{
    height: 40px;
    width: 1002.94px;
    /* background-color: pink; */
    margin: 10px auto;
    align-items: center;
    display: flex;

}

#section1>div{

    font-size: 12px;
    /* border: red solid; */
    font-family: inter_semi_bold,fallback-inter_semi_bold,Arial,sans-serif;
}

h1{
    height: 40px;

    width: 130px;
}


#h1_1{
    margin-left: 30px;
}
#h1_2{
    margin-left: 65px;
    padding-left: 12px;
}

a{
    text-decoration: none;
    color: black;
}
#h2{
    margin-left: 35px;
    display: flex;
    height: 40px;

    /* border: red solid; */
    /* width: 836.94px; */
    width: 725px;
    border-radius: 10px;
    background-color:#f0f5ff;

}
#h2_1{
    height: 40;
    width: 44;
    text-align: center;
    padding: 7px;
}


#h2 i{
    font-size: 24px;   
}
#h2_2 input{
    height: 40px;
    width: 681px;
    border-style: none;
    background-color: transparent;
}




#section2{
    display: flex;
    width: 541.06px;
    height: 42px;
    /* border: solid red; */
    margin: 10px auto;
    justify-content: space-between;
}
#section2>div{
    /* border: yellow solid; */
    height: 42px;
    width: max-content;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 500;
    /* text-decoration: none; */
}

#h3{
    width: 193.84px;
}
#h4{
    width: 160.78px;
}
#h5{
    width: 104.44px;
}
#h6{
    width: 82px;
}



#MiddlePart{
width: auto;
height: auto;
/* height: 1000px; */
background-color: rgb(242, 234, 234);
/* background-color: red; */
border:  rgb(242, 234, 234)  solid;
/* position: relative; */
}




/* nav bar css start */
nav{
    /* position: absolute; */
    display: flex;
    height: 127px;
    width: 1600px;
    margin: auto;
    margin-top: 5px;

    background-color: white;
    justify-content: space-around   ;
    z-index: 1000000;
    /* border: red solid; */
}


#Galary{
  margin: 10px auto;
    height: 265.39px;
    width: 1600px;
    position: relative;
}
#Galary>div{
  position: absolute;
}
#g1{
  top: 79px;
  z-index: 999999;

}
#g2{
  right: 0px;
  top: 79px;
  z-index: 999999;
color: black;
}



#Galary button{
  height: 88px;
  width: 40px;
  font-size: 20px;
  background-color: white;
  border: none;
}
#slider{
    display: flex;
    padding: 0px 10px;

}
.slider_a{
    width: 100%;
    padding-right: 20px;
    animation: 15s sliderimage1 infinite;

}

@keyframes  sliderimage1{

    0%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(-100%);

    }
    40%{
        transform: translateX(-200%);

    }
    60%{
        transform: translateX(-300%);

    }
    80%{
        transform: translateX(-400%);

    }
    95%{
        transform: translateX(-500%);

    }
}







#sponser{
  width: 1600px;
  height: 138.13px;
  margin: 10px auto;

}

#currentBest{
  height: 281.88px;
  width: 1600px;
  display:flex;
    margin: 10px auto;
  justify-content: space-between;
  
}

#currentBest>div{
  height: 281.88px;
width: 525.33px;

}


#footer1{
    height: 330px;
    width: auto;
    background-color: #172337;
    color: white;
    display: grid;
    grid-template-columns: 8fr 4fr ;
}

.left_panel{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
}
.right_panel{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}



.left_panel .footerHeader{
    width: fit-content;
color: #878787;
font-size: 12px;
font-weight: 400;
text-align: left;   
line-height: 1.4;
margin-left: 100px;
margin-top: 50px;


}
.left_panel .footerHeader~div{
    color: #fff;
    font-family: Roboto,Arial,sans-serif;
    letter-spacing: 0;
    /* border: yellow solid; */
    font-size: 12px;
    text-align: justify  ;
    width: fit-content  ;
    margin-left: 100px;
    margin-top: 10px;

}



.right_panel .footerHeader{
    width: fit-content;
color: #878787;
font-size: 12px;
font-weight: 400;
text-align: left;   
line-height: 1.4;
margin-left: 10px;
margin-top: 50px;


}

.right_panel .footerHeader~div{
    color: #fff;
    font-family: Roboto,Arial,sans-serif;
    letter-spacing: 0;
    /* border: yellow solid; */
    font-size: 12px;
    text-align: justify  ;
    width: fit-content  ;
    margin-left: 10px;
    margin-top: 10px;

}
#teliphone{
    text-decoration: none;
    color: #2874f0;
}
