*{
    box-sizing: border-box;
    margin: 0px;
    padding: opx;
}


#headerDiv{
    height: 56px;
    width: auto;
    background-color:#2874f0;
    /* RGB: (4, 123, 213); */
    color: #f0f0f0;

}

header{
    display: flex;
    color: f0f0f0;
    position: relative;
}


#section1{
    display: flex;
    position: absolute;
    left: 360px;
    border: red solid 2px;
    padding: 10px;
    
}
#section2{
    display: flex;
    position: absolute;
    right: 100px;
}

#section1>div{
    height: 54px;
}
h1_1{
    height: 27px;
    width: 27%;
    border: rgb(28, 28, 190) solid;
}





/* nav bar style start  */
#navbar{
    display: flex;
    height: 39px;
    
    justify-content: space-evenly;
    box-shadow: 0px 2px 0px rgb(196, 192, 192);
}
#navbar>div{
    font-weight: bold;

}



/* asideAndArticle design starts */

#asideAndArticle{
    display: flex;
height: 555px;
width: auto;
background-color: beige;
margin-top: 0px;
}

aside{
    height: 525px;
    width: 336px;
    background-color: #2874f0;
    margin-left: 264px;
    margin-top: 16px;

}

article{
    height:525px;
    width:auto;
    background-color: rgb(180, 177, 174);
}



footer{
    height: 300px;
    width: auto;
    background-color: rgb(14, 14, 14);
}
