*{
    box-sizing: border-box;
    margin: 0px;
    padding: opx;
}


#headerDiv{
    height: 56px;
    width: auto;
    background-color:#2874f0;
    /* RGB: (4, 123, 213); */
    color: #f0f0f0;

}

header{
    display: flex;
    color: f0f0f0;
}




#section1{
    display: flex;
    height: 56px;
    width: 727px;
    left: 360px;
    /* border: red solid 2px; */
}

#h1{
    width: 137px;
    height: 56px;
    /* border: solid green; */
}

#h2{
    display: flex;
    width: 590px;
    height: 56px;
    border: solid rgb(128, 15, 0);
}


#section2{
    display: flex;
    position: absolute;
    right: 100px;
}








/* nav bar style start  */
#navbar{
    display: flex;
    height: 39px;
    
    justify-content: space-evenly;
    box-shadow: 0px 2px 0px rgb(196, 192, 192);
}
#navbar>div{
    font-weight: bold;

}



/* asideAndArticle design starts */

#asideAndArticle{
    display: flex;
height: 555px;
width: auto;
background-color: beige;
margin-top: 0px;
}

aside{
    height: 525px;
    width: 336px;
    background-color: #2874f0;
    margin-left: 264px;
    margin-top: 16px;

}

article{
    height:525px;
    width:auto;
    background-color: rgb(180, 177, 174);
}



footer{
    height: 300px;
    width: auto;
    background-color: rgb(14, 14, 14);
}
