*{
    box-sizing: border-box;
    margin: 0px;
    padding: opx;
}


#headerDiv{
    position: sticky;
    top: 0;
    height: 62px;
    width: auto;
    background-color:#2874f0;
    /* RGB: (4, 123, 213); */
    color: #f0f0f0;

}

header{
    display: flex;
    color: f0f0f0;
}




#section1{
    display: flex;
    height: 66px;
    width: 727px;
    left: 360px;
    margin-left: 350px;
    /* border: red solid 2px; */
}

#h1{
    width: 137px;
    height: 66px;
    position: relative;
    
}



#h1 div{
    position: absolute;
    text-align: end;
  
    /* justify-content: end; */
    /* border: 2px black solid; */
    right: 2px;
}
#h1_1{
    top: 12px;
}
#h1_2{
    width: 75px;
    height: 15.39px;
    font-size: 11px;
    font-style: italic;
    /* margin-top: -1px; */
    font-weight: 500;
    margin-right: 2px;
    top: 32.11px;
    
}



#form1{
    display: flex;
}


#h2{
    width: 590.69px;
    height: 66px;
    margin-left: 10px;
    /* border: black solid; */
}


#form1>div{
    /* margin-top: 9px; */
}

#searchbar{
    width: 640px;
    height: 40px;
    margin-top: 9px;
    /* border: black solid; */
    font-family: Roboto,Arial,sans-serif;
    letter-spacing: 0;
    font-size: 14px;
    box-shadow: 0px 0px 5px black;

}

#h2_2_1{
    height: 40px;
    width:597.64px;
    border: none;
    padding-left: 16px;
}
#h2_2_2{
    width: 42.36px;
    height: 40px;
    background-color: white;
    /* border: solid rgb(128, 15, 0); */
    color: #2874f0;
    text-align: center;
    padding-top: 13px;

}


#section2{
    height: 66px;
    width: 525px;
    display: flex;
    position: absolute;
    left: 1170px;
    /* border: solid red; */
}

#section2>div{
     /* border: 2px solid black; */

} 
#h3{
    height: 66px;
    width: 171.5px;
}
#h3 button{
    height: 36px;
    width: 121px;
    /* margin: 7px auto; */
    margin-left: 25px;
    margin-top: 10px;
    background-color: white;
    border: none;
    box-shadow: 0px 0px 5px black;
 
}


#h4{
    height: 66px;
    width: 180.06px;
    padding-top: 15px;
    padding-left: 20px;

   
}

#h4 a{
    line-height: 20px;
    font-size: 16px;
    letter-spacing: .1px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    font-family: Roboto,Arial,sans-serif;
}
#h5{
    height: 66px;
    width: 99.52px;

    line-height: 20px;
    font-size: 16px;
    letter-spacing: .1px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    font-family: Roboto,Arial,sans-serif;
    padding-top: 15px;
    padding-left: 20px;

}
#h6{
    display: flex;
    height: 66px;
    width: 112.33px;

    line-height: 20px;
    font-size: 16px;
    letter-spacing: .1px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    font-family: Roboto,Arial,sans-serif;
    padding-top: 15px;
    padding-left: 20px;
    text-decoration: none;
}





/* nav bar style start  */
#navbar{
    display: flex;
    height: 42px;
    
    justify-content: center;
    box-shadow: 0px 10px 5px 0px rgb(38, 37, 37);
}
#navbar>div{
    font-weight: bold;
    display: inline-block; /* Make the div inline-block so it expands only as much as its content */
   height: 42px;
    padding: 10px 35px;/* Optional: Add padding for spacing between content and div border */
    /* margin: -10px;  */
    /* border: red solid; */
}
#navbar i{
    color: #9f9797;
}
#navbar>div:hover{
    
}


/* asideAndArticle design starts */

#asideAndArticle{
    display: flex;
height: 595px;
width: auto;
background-color: beige;
margin-top: 0px;
}

aside{
    height: 565px;
    width: 376px;
    background-color: #2874f0;
    margin-left: 564px;
    margin-top: 16px;
    background-image: url(https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/login_img_c4a81e.png);
    background-position: center 85%;
    background-repeat: no-repeat;

}
aside span{
    display: block;

}

#aside1{
    height: 40px;
    width: auto;
    font-size: 30px;
    font-weight: 600;
    color: #fff; 
    margin-left: 40px;
    margin-top: 50px;
    font-family: Roboto,Arial,sans-serif;
    letter-spacing: 0;
    line-height: 1.4;
    /* border: red solid; */
}
#aside2{
    width: 270px;
    height: auto;
    /* border:red solid; */
    color: #dbdbdb;
    font-size: 20px;
    margin-left: 40px;
    margin-top: 50px;
}




article{
    height: 565px;
    width: 540px;
    margin-top: 16px;
    background-color:white;
}
article>div{
    margin-left: 30px;
    width: 474px;
}

article input{
    margin-top: 60px;
    width: 474px;
    height: 40px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}
#terms1{
margin-top: 30px;
height: 40px;


}
article button{
    width: 474px;
    height: 40px;
    border: none;
    background-color: #fb641b;
    color: white;
    font-size: 20px;
}

article a{
    color: #2874f0;
    text-decoration: none;
}

article>a{
    display: block;
    height: 40px;
    width: auto;
    color: #2874f0;
    text-decoration: none;
    /* border: #2874f0 solid; */
    text-align: center;
   margin-top: 300px;

}




#footer1{
    height: 330px;
    width: auto;
    background-color: #172337;
    color: white;
    display: grid;
    grid-template-columns: 8fr 4fr ;
}

.left_panel{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
}
.right_panel{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}



.left_panel .footerHeader{
    width: fit-content;
color: #878787;
font-size: 12px;
font-weight: 400;
text-align: left;   
line-height: 1.4;
margin-left: 100px;
margin-top: 50px;


}
.left_panel .footerHeader~div{
    color: #fff;
    font-family: Roboto,Arial,sans-serif;
    letter-spacing: 0;
    /* border: yellow solid; */
    font-size: 12px;
    text-align: justify  ;
    width: fit-content  ;
    margin-left: 100px;
    margin-top: 10px;

}



.right_panel .footerHeader{
    width: fit-content;
color: #878787;
font-size: 12px;
font-weight: 400;
text-align: left;   
line-height: 1.4;
margin-left: 10px;
margin-top: 50px;


}

.right_panel .footerHeader~div{
    color: #fff;
    font-family: Roboto,Arial,sans-serif;
    letter-spacing: 0;
    /* border: yellow solid; */
    font-size: 12px;
    text-align: justify  ;
    width: fit-content  ;
    margin-left: 10px;
    margin-top: 10px;

}
#teliphone{
    text-decoration: none;
    color: #2874f0;
}


#xyz{
    height: 80;
    width: auto;
    background-color: #2a62c1;

}