*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
#pt_header{
    height: 66px;
    border: 2px solid red;
    position: relative;
    width: 100%;
    
}
header{
    position: absolute;
    left: 200px;
    height: 65px;
    width: 80%;
    /* border: 2px green solid; */
    display: flex;
}

#section1{
    display: flex;
}

#section2{
    display: flex;
}

#section1>div{

    height: 65px;
    width: 150px;
    border: 2px pink solid;
}
#section2>div{
    height: 65px;
    width: 150px;
    border: 2px pink solid;
}